<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SQLProvider" value="System.Data.SqlClient"/>
    <add key="MYSQLProvider" value=""/>
    <add key="OracleProvider" value=""/>


    <add key="ActiveProvider" value="MSSQL" />
  </appSettings>
  <connectionStrings>
	  <add name="SQLProvider" connectionString="Data Source=DESKTOP-LG900D2;Initial Catalog=tested;Integrated Security=True"/>
	  <add name="MySqlProvider" connectionString=""/>
      <add name="OracleProvider" connectionString=""/>
  </connectionStrings>
</configuration>